==
<?php
use RainLab\Blog\Models\Post;

function onEnd() {
    $this['recentPosts'] = Post::where('published_at', '<', now())->orderBy('published_at', 'desc')->take(7)->get()->map(function ($el) {
            return [
            'date' => $el->published_at->toDateString(),
            'slug' => $el->slug,
            'title' => $el->title];
        })->toArray();
    $this['count'] = count($this['recentPosts']);
}
?>
==
{% if count > 1 %}
<ul class="list-unstyled list-group mt-2">
    {% for post in recentPosts %}
    <li><a class="list-group-item" href="/post/{{ post.slug }}">{{ post.date }} - {{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}
