[searchForm]
resultPage = "blog/search"
categoryFilter = 0
==
<dl class="list-unstyled">
    <dt class="my-1">このサイトについて</dt>
    {% partial 'menu/profile' %}
    <dt class="my-1">検索</dt>
    <dd class="my-2">{% component 'searchForm' %}</dd>
    <dt class="my-1">最近の投稿</dt>
    <dd class="my-2">{% partial 'blog/recentposts' %}</dd>
    <dt class="my-1">アーカイブ</dt>
    <dd class="my-2">{% partial 'blog/archives' %}</dd>
    <dt class="my-1">最近のコメント</dt>
    <dd class="my-2">{% partial 'blog/recentComments' %}</dd>
    <dt class="my-1">カテゴリ</dt>
    <dd>{% partial 'blog/categories' %}</dd>
    <dt class="my-1">RSS</dt>
    <dd class="my-2">{% partial 'menu/rss' %}</dd>
</dl>
